# Auto detect text files and perform LF normalization
* text=auto

Assets/TextMesh Pro/Shaders/*.shader linguist-vendored
Assets/TextMesh Pro/Shaders/**/* linguist-vendored
Assets/TextMesh Pro/Shaders/**/*.shader linguist-vendored

git add .gitattributes
git commit --allow-empty -m "Force GitHub language detection refresh"
git push